<h2>Students List</h2>
<table class="students-table">
  <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students; let i=index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ student.firstName | titlecase }}</td>
      <td>{{ student.lastName | titlecase }}</td>
      <td>{{ student.age }}</td>
      <td>{{ student.dateOfBirth }}</td>
      <td>{{ student.gender }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.phoneNumber }}</td>
      <td>{{ student.country }}</td>
      <td>
        <button
          class="edit-btn btn btn-outline-primary"
          (click)="edit(student._id)"
        >
          <i class="fa fa-pencil"></i>
        </button>
        <button
          class="delete-btn btn btn-outline-danger"
          (click)="openConfirmationModal(template, student._id)"
        >
          <i class="fa fa-trash-o"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #template>
  <div class="modal-body p-4 text-center">
    <p>Are you sure you want to delete this student?</p>
    <button 
      type="button"
      class="btn btn-default"
      (click)="confirmDeletion()"
    >Yes
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="dismissModal()"
    >No
    </button>
  </div>
</ng-template>
