h2 {
  text-align: center;
  margin: 1rem 0;
}

.students-table {
  border-collapse: collapse;
  width: 95%;
  margin: 0px auto;

  .edit-btn,
  .delete-btn {
    margin: 3px;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#e6e6e6;
    color: #131212;
    text-align: center;
  }

  td,
  th {
    border: 1px solid #ddd;
  }

  tr:nth-last-child(2n) {
    background-color: #f9f9f9;
  }
}
