<ul>
  <li *ngFor="let student of students; let i=index">
    <div>
      <span class="numerical-list">
        {{ i + 1 }}
      </span>

      <span 
        (click)="onSelect(student)"
        class="student-name">
        {{ student.firstName | titlecase }}
        {{ student.lastName | titlecase }}
      </span>
    </div>
    <div>
      <button
        class="edit-btn btn btn-outline-dark"
        (click)="edit(student._id)"
      ><fa name="pencil-square-o fa-2x"></fa>
      </button>
      <button
        class="delete-btn btn btn-outline-dark"
        (click)="openConfirmationModal(template, student._id)">
          <fa name="trash-o fa-2x"></fa>
      </button>
    </div>
  </li>
</ul>

<ng-template #template>
  <div class="modal-body p-4 text-center">
    <p>Are you sure you want to delete this student?</p>
    <button 
      type="button"
      class="btn btn-default"
      (click)="confirmDeletion()"
    ><fa name="check-square-o fa-3x"></fa>
    </button>
    <button
      type="button"
      class="btn btn-default"
      (click)="dismissModal()"
      ><fa name="minus-square-o fa-3x" class="minus-square-o"></fa>
    </button>
  </div>
</ng-template>

<app-details [student]="selectedStudent"></app-details>
