ul {
  list-style: none;
  padding: 50px;
  
  li {
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between; 
    width: 20%;

    .edit {
      border: none;
      background-color: #8bc4f1;
      color: #ffffff;
      font-size: 14px;
    }

    .numerical-list {
      display: inline-block;
      margin-right: 10px;
      color: #020f86;
      text-align: right;
      width: 20px;
    } 
  }
}
