ul {
  list-style: none;
  padding: 50px;
  
  li {
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between; 
    width: 20%;

    .numerical-list {
      display: inline-block;
      margin-right: 10px;
      color: #020f86;
      text-align: right;
      width: 20px;
    }

    .delete-btn, .edit-btn {
      margin-right: 10px;
    }
  }
}
