<div *ngIf="student">
	<h2>{{ student.firstName | uppercase }} Details</h2>
	<div>
		<span>id: </span>{{ student._id }}
	</div>
	<div>
		<span>first name: </span>{{ student.firstName }}
	</div>
	<div>
		<span>last name: </span>{{ student.lastName }}
	</div>
	<div>
		<span>age: </span>{{ student.age }}
	</div>
	<div>
		<span>Birthday: </span>{{ student.dateOfBirth }}
	</div>
	<div>
		<span>Email: </span>{{ student.email }}
	</div>
	<div>
		<span>Telephone: </span>{{ student.phoneNumber }}
	</div>
	<div>
		<span>Country: </span>{{ student.country }}
	</div>
</div>