<form [formGroup]="profileForm">
  <div class="container">
    <div class="form-row">
      <label class="label-text col-5">
        First Name
        <input type="text" class="form-control" placeholder="First name" formControlName="firstName">
      </label>

      <label class="label-text col-5">
        Last Name
        <input type="text" class="form-control" placeholder="First name" formControlName="lastName">  
      </label>
    </div>

    <div class="form-row">
      <label class="label-text col-5">
        Age
        <input type="number" class="form-control" placeholder="Age" formControlName="age">
      </label>

      <label class="label-text col-5">
        Birthday
        <input type="date" class="form-control input-style" formControlName="dateOfBirth">
      </label><br>
    </div>

    <div class="form-check form-check-inline">      
      <label class="form-check-label">
        Male
        <input class="form-check-input input-style" type="radio" value="male" formControlName="gender">
      </label>
      <label class="form-check-label">
        Female
        <input class="form-check-input input-style" type="radio" value="female" formControlName="gender">
      </label>
    </div>

    <div class="form-group row">
      <label class="label-text col-10">
				Email
        <input type="email" class="form-control input-style" placeholder="Email" formControlName="email">
      </label>
    </div>

    <div class="form-group row">
      <label class="label-text col-10">
        Phone number
        <input type="tel" class="form-control input-style" placeholder="Phone number" formControlName="phoneNumber">
      </label>
		</div>
		
    <div class="row">
      <div class="col-md-10">        
        <label class="label-text col-10">Country</label> 
        <select class="custom-select">
          <option>Italy</option>
          <option>Denmark</option>
          <option>Costa Rica</option>
          <option>Colombia</option>
          <option>Australia</option>
        </select>           
      </div>        
    </div>    
  </div>
  <button class="submit-button btn btn-dark btn-lg" type="submit" (click)="add()">Submit</button>
</form>
