$padding: 16px;

.container {
  padding: $padding;
	
	.label-text {
		font-weight: 400;
	}

	input[type=text],
	input[type=number],
	input[type=email],
	.input-style {
  	padding: $padding;
  	margin: 5px 0 22px 0;
	}
}

.submit-button {
  padding: $padding;
  margin: 5px 0 22px 398px;
  width: 150px;
}
