<div class="container py-3">
  <div class="mx-auto col-sm-10">
    <div class="card">
      <div class="card-header">
        <h4 class="mb-0">Create new student</h4>
      </div>
      <div class="card-body">
        <form autocomplete="off" [formGroup]="profileForm" (ngSubmit)="isEdit ? update(profileForm) : add(profileForm)">
          <div class="container">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="label-text col-6">First Name</label>
                <input
                  autocomplete="true"
                  type="text"
                  class="form-control input-style"
                  placeholder="First Name"
                  formControlName="firstName"
                >
                <div *ngIf="profileForm.controls['firstName'].invalid && profileForm.controls['firstName'].touched"></div>
              </div>

              <div class="form-group col-md-6">
                <label class="label-text col-6">Last Name</label>
                <input
                  autocomplete="true"
                  type="text"
                  class="form-control input-style"
                  placeholder="Last Name"
                  formControlName="lastName"
                >
                <div *ngIf="profileForm.controls['lastName'].invalid && profileForm.controls['lastName'].touched"></div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="label-text col-6">Birthday</label>
                <input
                  type="text"
                  #dp="bsDatepicker"
                  bsDatepicker class="form-control input-style"
                  placeholder="dd/mm/yyyy"
                  [bsConfig]="{containerClass:'theme-default', dateInputFormat: 'DD-MM-YYYY'}"
                  formControlName="dateOfBirth"
                >
                <div *ngIf="profileForm.controls['dateOfBirth'].invalid && profileForm.controls['dateOfBirth'].touched"></div>
              </div>

              <div class="gender-container form-group col-md-6">
                <label class="label-text col-12">Gender</label>

                <div class="gender-container__group">
                  <div class="col-md-2">
                    <label for="male" class="gender-container__group-radio">Male</label>
                    <input id="male" class="input-style" type="radio" value="male" formControlName="gender">
                  </div>

                  <div class="col-md-2">
                    <label for="female" class="gender-container__group-radio">Female</label>
                    <input id="female" class="input-style" type="radio" value="female" formControlName="gender">
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="label-text col-6">Email</label>
                <input
                  type="text"
                  class="form-control input-style"
                  placeholder="example@gmail.com"
                  formControlName="email"
                >
                <div *ngIf="profileForm.controls['email'].invalid && profileForm.controls['email'].touched"></div>
              </div>

              <div class="form-group col-md-6">
                <label class="label-text col-6">Phone Number</label>
                <input
                  type="text"
                  class="form-control input-style"
                  placeholder="+XXXX XXX-XXX-XXX"
                  formControlName="phoneNumber"
                >
                <div *ngIf="profileForm.controls['phoneNumber'].invalid && profileForm.controls['phoneNumber'].touched"></div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="label-text">Country</label>
                <select class="custom-select" formControlName="country">
                  <option selected disabled [value]="countryDefault">--- Select country---</option>
                  <option *ngFor="let country of countries" [value]="country.name">
                    {{ country.name }}
                  </option>
                </select>
                <div *ngIf="profileForm.controls['country'].invalid && profileForm.controls['country'].touched"></div>
              </div>
            </div>

            <button class="submit-button btn btn-dark btn-lg" type="submit" [disabled]="!profileForm.valid">
              {{ isEdit ? 'Update' : 'Submit'}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
