$padding: 16px;

.container {
  padding: $padding;
	
	.label-text {
		font-weight: 400;
	}

	.input-style {
  	padding: $padding;
  	margin: 5px 0 22px 0;
	}

	.submit-button {
		padding: $padding;
		margin-top: 1.5rem;
		width: 150px;
	  }

}
